app-router {
  width: 100%;
}

html /deep/ .container {
  width: 960px;
  margin: 0 auto;
}

html /deep/ .container.main {
  padding: 30px;
}

.warn {
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    font-weight: bold;
    color: #c32448;
    text-align: center;
    width: 100%;

}

.core-header {
    display: none;
}

@supports (-webkit-appearance:none)
{
    .warn {
        display: none;
    }
    .core-header {
        display: block;
    }
}