.page-header-wrapper {
  background-color: #21303F;
}

.page-header {
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .page-header {
    width: 1280px;
  }
}

.page-header-logo {
  color: #E9A611;
  font-size: 48px;
}

.page-header-controls {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.page-header-search {
  font-size: 24px;
}