<!DOCTYPE html>
<html>
    <head>
        <title>A Simple Page with CKEditor</title>
        <!-- Make sure the path to CKEditor is correct. -->
        <script src="ckeditor/ckeditor.js"></script>
    </head>
    <body>
        <form>
            <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
            </script>
        </form>
    </body>
</html>


<!--{% extends 'base.html' %}-->

<!--{% block base_body_content %}-->
    <!--<div class="text_container">-->
        <!--<h2 style="margin-bottom: 20px">Регистрация нового проекта</h2>-->
        <!--<div class="line_body">-->
            <!--<div class="line" style="clear: both; display: inline"><span class="line_body_left">Цель проекта</span><textarea style="width:400px" rows="10" class="line_body_right"></textarea></div>-->
            <!--<div class="line" style="clear: both; display: inline"><span class="line_body_left">Описание исследований</span><textarea style="width:400px" rows="10" class="line_body_right"></textarea></div>-->
            <!--<div class="line" style="clear: both; display: inline"><span class="line_body_left">Результаты</span><textarea style="width:400px" rows="10" class="line_body_right"></textarea></div>-->
            <!--<div class="line" style="clear: both; display: inline"><span class="line_body_left">Возможное применение</span><textarea style="width:400px" rows="10" class="line_body_right"></textarea></div>-->
            <!--&lt;!&ndash;<div class="line" style="clear: both; display: inline"><span class="line_body_left">Цель проекта</span><input class="main_input line_body_right" type="text"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="line" style="clear: both; display: inline"><span class="line_body_left">Результаты</span><input class="main_input line_body_right" type="text"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="line" style="clear: both; display: inline"><span class="line_body_left">Возможное применение</span><input class="main_input line_body_right" type="text"></div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->


<!--{% endblock %}-->