{% extends 'base.html' %}


{% block base_body_content %}
    <div class="text_container">
        <h2 style="margin-bottom: 20px">Регистрация нового проекта</h2>
        <div class="line_body">
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Название</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Научная область</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Научный руководитель</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Администратор</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Участники</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Вид</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Курирующая организация</span><input class="main_input line_body_right" type="text"></div>
            <!--<div class="line" style="clear: both; display: inline"><span class="line_body_left">Цель проекта</span><input class="main_input line_body_right" type="text"></div>-->
            <!--<div class="line" style="clear: both; display: inline"><span class="line_body_left">Описание исследований</span><textarea style="width:400px" rows="10" class="line_body_right"></textarea></div>-->
            <!--<div class="line" style="clear: both; display: inline"><span class="line_body_left">Результаты</span><input class="main_input line_body_right" type="text"></div>-->
            <!--<div class="line" style="clear: both; display: inline"><span class="line_body_left">Возможное применение</span><input class="main_input line_body_right" type="text"></div>-->
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Связанные проекты</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Статус</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Дата начала</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Дата окончания</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Полезная информация</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Теги</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">В проект требуются</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: both; display: inline"><span class="line_body_left">Благодарсности</span><input class="main_input line_body_right" type="text"></div>
            <h3>Контакты проекта</h3>
            <div class="line" style="clear: left; display: inline"><span class="line_body_left">E-mail</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: left; display: inline"><span class="line_body_left">Skype</span><input class="main_input line_body_right" type="text"></div>
            <div class="line" style="clear: left; display: inline"><span class="line_body_left">Телефон</span><input class="main_input line_body_right" type="text"></div>
        </div>


    </div>




{% endblock %}
