@font-face {
	font-family: 'Cooper Black';
	src: url('/static/fonts/cooper-black/Cooper_Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/static/fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/static/fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}