/*
    CURSORS
*/

html /deep/ .action {
  cursor: pointer;
}

html /deep/ .link {
  color: #0095E5;
  transition: color, 0.3s ease;
}

html /deep/ .link:hover {
  color: darken(#0095E5, 20);
}

html /deep/ .meta {
  color: #aaa;
}

/*
    COLORS
*/

html /deep/ .colo-light-grey {
  color: #DADADA;
}

html /deep/ .color-grey {
  color: #BCBDBE;
}

html /deep/ .color-deep-blue {
  color: #21303F;
}

html /deep/ .color-yellow {
  color: #FDB411;
}

html /deep/ .color-white {
  color: #FFFFFF;
}

html /deep/ .color-green {
  color: #00A17D;;
}

