/*
    CURSORS
*/

html /deep/ .action {
  cursor: pointer;
}

/*
    COLORS
*/

html /deep/ .colo-light-grey {
  color: #DADADA;
}

html /deep/ .color-grey {
  color: #BCBDBE;
}

html /deep/ .color-deep-blue {
  color: #21303F;
}

html /deep/ .color-yellow {
  color: #FDB411;
}

html /deep/ .color-white {
  color: #FFFFFF;
}

html /deep/ .color-green {
  color: #00A17D;;
}