div.row.row_align_middle.row_align_between
	label Тип
	input(type='text', name='contacts[][connection]')
	label Номер
	input(type='text', name='contacts[][number]')
	img.icon.icon_size_small.js-delete-item(data-_id="#{_id}", data-type='contacts', src='/static/images/minus.svg', alt='')