fieldset.fieldset.fieldset_nested
	div.form__line.row.row_align_middle
		label.col.col_type_lg_size_4 Страна
		input.col.col_type_lg_size_20(type='text', data-hook='country')
	div.form__line.row.row_align_middle
		label.col.col_type_lg_size_4.action Город
		input.col.col_type_lg_size_20(type='text', data-hook='city')
	div.form__line.row.row_align_middle
		label.col.col_type_lg_size_4.action Университет
		input.col.col_type_lg_size_20(type='text', data-hook='university')
	div.form__line.row.row_align_middle
		label.col.col_type_lg_size_4.action Факультет
		input.col.col_type_lg_size_20(type='text', data-hook='faculty')
	div.form__line.row.row_align_middle
		label.col.col_type_lg_size_4.action Кафедра
		input.col.col_type_lg_size_20(type='text', data-hook='chair')
	div.form__line.row.row_align_middle
		label.col.col_type_lg_size_4.action(for='high_education_degree') Степень
		input.col.col_type_lg_size_20(type='text', data-hook='degree')
	div.form__line.row.row_align_middle
		label.action.col.col_type_lg_size_4(for='high_education_graduation_year') Год выпуска
		input.col.col_type_lg_size_4(type='number', data-hook='graduation_year')
	img.icon.icon_size_small.js-delete-item(src='/static/images/minus.svg', alt='', data-cid="#{model.cid}", data-type="high_educations")