div.page__content
	form.form.js-form
		fieldset.fieldset
			legend.fieldset__heading Общие сведения
			div.row.fieldset__block
				div.col.col_type_lg_size_16

					div.form__line.input.js-first-name
						div.row.row_align_middle
							label.col.col_type_lg_size_8.input__label(for='scientist_first_name') Имя
							input.col.col_type_lg_size_16.input__field(type='text', name='first_name', placeholder="Иван")
						div.row
							div.col.col_type_lg_size_16.col_offset_type_lg_size_8.input__message-container(data-hook="message-container")
								div.input__message.input__message_type_error Поле обязательно для заполнения

					div.form__line.input.js-last-name
						div.row.row_align_middle
							label.col.col_type_lg_size_8.input__label(for='scientist_last_name') Фамилия
							input.col.col_type_lg_size_16.input__field(type='text', name='last_name', placeholder="Иванов")
						div.row
							div.col.col_type_lg_size_16.col_offset_type_lg_size_8.input__message-container(data-hook="message-container")
								div.input__message.input__message_type_error Поле обязательно для заполнения

					div.form__line.input.js-middle-name
						div.row.row_align_middle
							label.col.col_type_lg_size_8.input__label(for='scientist_middle_name') Отчество
							input.col.col_type_lg_size_16.input__field(type='text', name='middle_name', placeholder="Иванович")
						div.row
							div.col.col_type_lg_size_16.col_offset_type_lg_size_8.input__message-container(data-hook="message-container")
								div.input__message.input__message_type_error Поле обязательно для заполнения

					div.form__line.row.row_align_between
						label.col.col_type_lg_size_8 Пол
						div.col.col_type_lg_size_4
							div.row.row_align_middle.row_align_between
								label(for='male') М
								input#male(type='radio', value='m', name='gender', checked="")
								label(for='female') Ж
								input#female(type='radio', value='f', name='gender', checked="")

					div.form__line.input.js-middle-name
						div.row.row_align_middle
							label.col.col_type_lg_size_8.input__label(for='dateOfBirth') Дата рождения
							input.col.col_type_lg_size_16.input__field(type='text', name='dob')
						div.row
							div.col.col_type_lg_size_16.col_offset_type_lg_size_8.input__message-container(data-hook="message-container")
								div.input__message.input__message_type_error Неверный формат даты

					div.form__line.input.js-middle-name
						div.row.row_align_middle
							label.col.col_type_lg_size_8.input__label(for='placeOfLiving') Место проживания
							input.col.col_type_lg_size_7.input__field(type='text', name='location[country]')
							input.col.col_type_lg_size_8.input__field.col_offset_type_lg_size_1(type='text', name='location[city]')

				div.col.col_type_lg_size_8
					input-photo#photo(size='{"width": 250, "height": 250}', imageuri='#{image_url}')
		fieldset.fieldset
			legend.fieldset__heading Сведения об образовании
			fieldset.fieldset.fieldset_nested
				legend.fieldset__heading Среднее образование
				fieldset.fieldset.fieldset_nested
					div.form__line.row.row_align_middle
						label.col.col_type_lg_size_4(for='middle_education_country') Страна
						input#middle_education_country.col.col_type_lg_size_20(type='text', name='middle_education[country]')
					div.form__line.row.row_align_middle
						label.col.col_type_lg_size_4(for='middle_education_city') Город
						input#middle_education_city.col.col_type_lg_size_20(type='text', name='middle_education[city]')
					div.form__line.row.row_align_middle
						label.col.col_type_lg_size_4(for='middle_education_school') Школа
						input#middle_education_school.col.col_type_lg_size_20(type='text', name='middle_education[school]')
					div.form__line.row.row_align_middle
						label.col.col_type_lg_size_4(for='middle_education_graduation_year') Год выпуска
						input#middle_education_graduation_year.col.col_type_lg_size_20(type='text', name='middle_education[graduation_year]')
			fieldset.fieldset.fieldset_nested
				legend.fieldset__heading
					span Высшее образование
					img.icon.icon_size_small.js-add-item(data-type="high_educations", src='/static/images/plus.svg', alt='')
				div.js-high-educations
		fieldset.fieldset
			legend.fieldset__heading Научная деятельность
			fieldset.fieldset.fieldset_nested
				legend.fieldset__heading
					span Публикации
					img.icon.icon_size_small.js-add-item(data-type='publications', src='/static/images/plus.svg', alt='')
				div.js-publications
			fieldset.fieldset.fieldset_nested
				legend.fieldset__heading О себе
				div.row.fieldset.fieldset_nested
					textarea.col.col_type_lg_size_24(name='about')
			fieldset.fieldset.fieldset_nested
				legend.fieldset__heading Интересы
				div.row
					input.col.col_type_lg_size_24(name='interests[]')
		fieldset.fieldset
			legend.fieldset__heading
				span Контакты
				img.icon.icon_size_small.js-add-item(data-type='contacts', src='/static/images/plus.svg', alt='')
			fieldset.row.fieldset.fieldset_nested
				div.col.col_type_lg_size_16.js-contacts

		if formType === 'create'
			fieldset.row.fieldset
				div.col.col_type_lg_size_18
					div.row.row_align_middle
						label.col.col_type_lg_size_6(for='email') Email
						input.col.col_type_lg_size_10(type='email', name='email')
					div.row.row_align_middle
						label.col.col_type_lg_size_6(for='pwd') Пароль
						input.col.col_type_lg_size_10(type='password', name='pwd')

		button.button.button_type_submit(type="submit")
			= formType === 'create' ? 'Создать' : 'Сохранить'

