
/*
    ---------- MAIN HEADER MENU ----------
*/

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, blockquote {
	margin: 0; padding: 0; border: 0;
}

html {
    height: 100%;
}

body {
	font-family: Roboto, sans-serif !important;
	line-height: 24px;
	background: #ffffff;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    color: #373b44;
}

header {
    height: 100px;
    width: 100%;
}

.base_container {
	width: 1300px;
	margin-left: 20%;
	position: relative;
}

.modal {
    position: fixed;
    float: left;
    align-self: center;
    top: 250px;
    left: 30%;
    width: 400px;
    height: 300px;
    background-color: #fff;
    /*border: 7px solid #d1d1d1;*/
    box-shadow: 0 0 0 7px #d1d1d1 inset;
    border-radius: 4px;
    padding: 1em;
}

.project-box {
    position:relative;
    width: 100%;
    float: left;
    height: 400px;
    box-shadow: 0 0 0 5px #d1d1d1 inset;
    /*padding: 10px;*/
}

.login-input {
    width: 300px;
    height: 50px;
    line-height: normal;
}

.project-textarea {
    margin-left: 40px;
    width: 1240px;
    height: 200px;
    position: relative;
}

.login-text {
    font-family: Roboto Slab, serif;
    font-weight: bold;
    font-size: 16pt;
    color: #0a926a;
    -webkit-font-smoothing: antialiased;
    position: relative;
    width: 100%;
}

.centered {
    clear: both;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.83);
}

.flush--top {
  margin-top: 0;
}

.text_container {
    margin-top: 60px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.main_header {
    position: relative;
    margin-top: 0;
    clear: right;
}

.main_logo {
    /*margin-top: 10px;*/
    position:relative;
    background: url(../images/common/logo.png) no-repeat;
    width: 205px;
    height: 100px;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
}

.right-menu {
    width: 260px;
    height: 100%;
    background: #eee;
    float: right;
    position: relative;
}

.font_grey {
    font-weight: lighter;
    color: #373b44;
}

.menu_text_container {
    margin-top: 10px;
    width: 220px;
    position: relative;
}

.menu-text {
    border-bottom: 5px solid #bbb8be;
    cursor: pointer;
    color: #000;
    clear: both;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.menu-text:hover {
    color: #0a926a;
}
.blue-hover:hover {
    color: #0a6792;
}

.red-hover:hover {
    color: darkred;
}
.orange-hover:hover {
    color: orangered;
}

.main-login {

}

.main_search {
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100px;
    /*float: right;*/
    right: 0;
    height: 100px;
    background: url(../images/common/header_search_icon.jpg) no-repeat;
    clear: right;
}

.inline {
    display: inline-block;
}

.inline h1, div, span {
    position: relative;
    float: left;
}

.main_input {
    height: 28px;
    position: relative;
    width: 100%;
}

input {
    display: block;
    font-size: 16px;
}

input[type=text], input[type=password] {
    outline: none;
    font-size: 14pt;
    padding: 0 0 0 10px;
    margin: 0;
    border: 1px solid #b3b3b3;
}

textarea {
    outline: none;
    font-size: 14pt;
    padding: 10px 0 0 10px;
    margin: 0;
    border: 1px solid #b3b3b3;
}

input.placeholder {

}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  box-shadow: none;
  border: 1px solid #192430;
}


input[type=checkbox], input[type=radio] {
    opacity: 0;
    width: 250px;
    height: 30px;
    float: left;
    position: relative;
    /*margin-left: 20px;*/
    z-index: 100;
}

input[type=radio] {
    opacity: 0;
    width: 80px;
    height: 30px;
    float: left;
    position: relative;
    /*margin-left: 20px;*/
    z-index: 100;
}

input[type=checkbox] + label {
    cursor: pointer;
    text-align: center;
    float: left;
    clear: none;
    padding: 5px 5px 4px 45px;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url(../images/common/checkbox_empty.png) no-repeat;
}

input[type=radio] + label {
    cursor: pointer;
    text-align: center;
    float: left;
    clear: none;
    padding: 5px 5px 4px 45px;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url(../images/common/radio.png) no-repeat;
}

input[type=checkbox]:checked + label {
    background: url(../images/common/checkbox_checked.png) no-repeat;
}

input[type=radio]:checked + label {
    background: url(../images/common/radio_selected.png) no-repeat;
}

.enter {
    margin-top: 20px;
}

.line_body {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
}

.line_body_right{
    position: relative;
    float: left;
    width: 545px;
}

.line_body_left{
    width: 150px;
    position: relative;
    margin-left: 0;

}

.line {
    margin-top: 15px;
    clear: both;
    display: inline;
}

.date_format {
    width: 155px;
    margin-right: 40px;
    position: relative;
    float: left;
}

.location_format {
    width: 260px;
    margin-right: 25px;
    position: relative;
    float: left;
}

.location_format:last-of-type {
    margin-right: 0;
}

.date_format:last-of-type {
    margin-right: 0;
}

.w700 {
    width: 700px;
}
.main_button {
    background: url(../images/common/main_button.png) no-repeat;
    clear: both;
    height: 45px;
    width: 201px;
    text-align: center;
    padding-top: 7px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.close-modal {
    background: url(../images/common/modal_close.png) no-repeat;
    width: 30px;
    height: 30px;
    margin-top:-25px;
    margin-right:-25px;
    float: right;
}

.participate {
    background: url(../images/common/participate.png) no-repeat;
    width: 30px;
    height: 30px;
    bottom: 0;
    float: left;
    left: 50%
}

.expand {
    background: url(../images/common/expand_text.png) no-repeat;
    width: 30px;
    height: 30px;
    bottom: 0;
    float: left;
    left: 48%
}

.close-modal:hover {
    background: url(../images/common/modal_close_pressed.png), no-repeat;
}

.little_green_button {
    background: url(../images/common/little_green_button.png) no-repeat;
    clear: both;
    height: 34px;
    width: 100px;
    text-align: center;
    padding-top: 3px;
    color: white;
    cursor: pointer;
}

.little_green_button:active {
    background: #0a6792;
}

.main_button:active {
    background: url(../images/common/main_button_pressed.png) no-repeat;
    padding-top: 10px;
}

.common_info{
    width: 1000px;
    height: 260px;
    position: relative;
}

.common_info_photo{
    width: 260px;
    position: relative;
    float: right;
}

.common_info_left{
    width: 720px;
    position: relative;
    margin-left: 0;
    float: left;
}

.education {
    position: relative;
}

.margin_bottom {
    margin-bottom: 30px;
}

.clear_left {
    clear: left;
}

.margin_left {
    margin-left: 20px;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}

.middle_education_fields {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.education_block_left {
    width: 630px;
    position: relative;
    float: left;
}

.education_block_right {
    display: inline;
    position: relative;
    float: right;
    width: 330px;
    margin-top: 25px;
    right: 0;
    vertical-align: middle;
}

.publications {
    width: 100%;
}
.publications_block {
    width: 980px;
    margin-left: 20px;
    margin-top: 20px;
}

.publications_block_right {
    position: relative;
    float: right;
    width: 80px;
    margin-top: 25px;
    right: 0;
    vertical-align: middle;
}

.publications_block_left {
    width: 900px;
    position: relative;
    float: left;
}

.middle_education, .high_education {
    width: 980px;
    position: relative;
    margin-top: 10px;
    clear: both;
}

.email_info, .passw_info {
    width: 1000px;
    position: relative;
    /*margin-top: 10px;*/
}

.manage_form {
    cursor: pointer;
    float: left;
    position: relative;
}

.add_30 {
    background: url(../images/common/add_30.png) no-repeat;
    height: 30px;
    width: 30px;
}

.add_20 {
    background: url(../images/common/add_20.png);
    height: 20px;
    width: 20px;
    margin-top: 2px;
    position: relative;
}

.remove_30 {
    background: url(../images/common/remove_30.png) no-repeat;
    height: 30px;
    width: 30px;
}

.remove_20 {
    background: url(../images/common/remove_20.png) no-repeat;
    height: 20px;
    width: 20px;
}

::-webkit-input-placeholder {
    font-weight: lighter;
    font-size: 14px;
    /*color: red;*/
}

:-moz-placeholder { /* Firefox 18- */
    font-weight: lighter;
    font-size: 14px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-weight: lighter;
    font-size: 14px;
}

:-ms-input-placeholder {
    font-weight: lighter;
    font-size: 14px;
}

.user_list_element {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 10px;
}

.project-title {
    margin: 20px;
    line-height: 40px;
}

.project-field-box {
    clear: both;
    margin: 10px 20px 0 20px;
    position: relative;
    float: left;
    max-height: 20%;
    /*width: 100%;*/
    overflow-y: hidden;
}

.font_slab_32 {
    font-family: Roboto Slab, serif;
    font-weight: 900;
    font-size: 30px;
    color: #373b44;
}

.font_slab_16 {
    font-family: Roboto Slab, serif;
    font-weight: 900;
    font-size: 16pt;
    color: #373b44;
    clear: right;
}

.user_list_middle {
    margin-left: 20px;
    margin-top: 15px;
}

.delete_user {
    background: url(../images/common/delete_squared.png) no-repeat;
    width: 40px;
    height: 43px;
    position: relative;
    float: right;
    margin-top: 30px;
}

.profile_common_info {
    position: relative;
    float: left;
    font-size: 20px;
    color: #373b44;
    margin-bottom: 15px;
}

.profile_common_info:nth-child(even) {
    clear: left;
    font-weight: 900;
}

.font_bold {
    font-weight: 900;
}

.profile_common_contacts {
    clear: left;
    margin-left: 30px;
}

.profile_contacts {
    position: relative;
    float: left;
    font-size: 16px;
    color: #373b44;
    margin-bottom: 5px;
}

.profile_contacts:nth-child(odd) {
    clear: left;
    font-weight: 900;
}

.education_subtitle {
    font-size: 18px;
    color: #373b44;
    margin-bottom: 5px;
    font-weight: 900;
    position: relative;
    width: 100%;

}

.profile_education_list, .profile_publications_list, .profile_projects_list, .profile_interests_list, .profile_about_text {
    position: relative;
    float: left;
    clear: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

.small_info {
    clear: left;
    font-weight: 100;
    font-size: 14px;
    color: #b3b3b3;
    margin-left: 40px;
}

.numeration {
    width: 20px;
}

.profile_publications, .profile_projects, .profile_about, .profile_interests {
    clear: left;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.profile_publication, .profile_project {
    font-size: 18px;
    color: #1d73b0;
    border-bottom: 1px #1d73b0 solid;
    cursor: pointer;
}

.profile_about_text {
    width: 100%;
}

.interests_tag {
    border: 1px #0a926a solid;
    border-radius: 20px;
    padding: 0 5px 0 5px;
    color: #626262;
}

.interests_tag:not(first) {
    margin-left: 10px;
}

.interests {
    width: 100%;
}

.interests_field {
    width: 975px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
}

.removable_tag {
    border: 1px #0a926a solid;
    border-radius: 20px;
    padding: 0 3px 0 5px;
    color: #626262;
}

.gender {
    width: 100%;
}

.radio_gender {
    width: 80px;
    margin-left: 20px;
    margin-top: 20px;
}

.about_filed {
    width: 975px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

.contacts {
    width: 100%;
}

.contacts_list {
    width: 980px;
    margin-left: 20px;
    position: relative;
    float: left;
    margin-top: 10px;
}

.contacts_add {
    clear: left;
    margin-bottom: 10px;
    font-weight: 900;
}