@charset "UTF-8";
/* line 1, ../scss/_layout.scss */
.container {
  width: 960px;
  margin: 0 auto;
}

/*
    CURSORS
*/
/* line 5, ../scss/_helpers.scss */
.action {
  cursor: pointer;
}

/*
    COLORS
*/
/* line 13, ../scss/_helpers.scss */
.color-grey {
  color: #606972;
}

/* line 17, ../scss/_helpers.scss */
.color-deep-blue {
  color: #21303F;
}

/* line 21, ../scss/_helpers.scss */
.color-yellow {
  color: #E9A611;
}

/* line 25, ../scss/_helpers.scss */
.color-white {
  color: #FFFFFF;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?6749488");
  src: url("../fonts/fontello.eot?6749488#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?6749488") format("woff"), url("../fonts/fontello.ttf?6749488") format("truetype"), url("../fonts/fontello.svg?6749488#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'fontello';
    src: url("../font/fontello.svg?6749488#fontello") format("svg");
  }
}
/* line 22, ../scss/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../scss/_icons.scss */
.icon-login:before {
  content: '\e800';
}

/* '' */
/* line 54, ../scss/_icons.scss */
.icon-logout:before {
  content: '\e801';
}

/* '' */
/* line 55, ../scss/_icons.scss */
.icon-search:before {
  content: '\e802';
}

/* '' */
/* line 1, ../scss/_page_header.scss */
.page-header-wrapper {
  background-color: #21303F;
  border-bottom: 5px solid #637686;
}

/* line 6, ../scss/_page_header.scss */
.page-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  background-color: #21303F;
  border-bottom: 5px solid #637686;
  align-items: center;
  justify-content: space-between;
}

/* line 16, ../scss/_page_header.scss */
.page-header-logo {
  color: #E9A611;
  font-size: 48px;
}

/* line 21, ../scss/_page_header.scss */
.page-header-controls {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 250px;
}

/* line 28, ../scss/_page_header.scss */
.page-header-search {
  font-size: 24px;
}

/* line 6, ../scss/main.scss */
.content {
  padding: 30px;
}

/* line 10, ../scss/main.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 14, ../scss/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 19, ../scss/main.scss */
a:visited {
  color: inherit;
}

/* line 23, ../scss/main.scss */
a:active {
  color: inherit;
}
