/*
    CURSORS
*/
/* line 5, ../scss/_helpers.scss */
html /deep/ .action {
  cursor: pointer;
}

/*
    COLORS
*/
/* line 13, ../scss/_helpers.scss */
html /deep/ .color-grey {
  color: #606972;
}

/* line 17, ../scss/_helpers.scss */
html /deep/ .color-deep-blue {
  color: #21303F;
}

/* line 21, ../scss/_helpers.scss */
html /deep/ .color-yellow {
  color: #E9A611;
}

/* line 25, ../scss/_helpers.scss */
html /deep/ .color-white {
  color: #FFFFFF;
}

/* line 3, ../scss/main.scss */
.content {
  padding: 30px;
  width: 960px;
  margin: 0 auto;
}

/* line 9, ../scss/main.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 13, ../scss/main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 18, ../scss/main.scss */
a:visited {
  color: inherit;
}

/* line 22, ../scss/main.scss */
a:active {
  color: inherit;
}

/* line 26, ../scss/main.scss */
.page-header-wrapper {
  background-color: #21303F;
  border-bottom: 5px solid #637686;
}

/* line 31, ../scss/main.scss */
.page-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  background-color: #21303F;
  border-bottom: 5px solid #637686;
  align-items: center;
  justify-content: space-between;
}

/* line 41, ../scss/main.scss */
.page-header-logo {
  color: #E9A611;
  font-size: 48px;
}

/* line 46, ../scss/main.scss */
.page-header-controls {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 250px;
}

/* line 53, ../scss/main.scss */
.page-header-search {
  font-size: 24px;
}
