@charset "UTF-8";
@font-face {
  font-family: 'Cooper Black';
  src: url("/static/fonts/cooper-black/Cooper_Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("/static/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("/static/fonts/roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url("/static/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url("/static/fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url("/static/fonts/fontello/fontello.eot");
  src: url("/static/fonts/fontello/fontello.eot") format("embedded-opentype"), url("/static/fonts/fontello/fontello.woff") format("woff"), url("/static/fonts/fontello/fontello.ttf") format("truetype"), url("/static/fonts/fontello/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'fontello';
    src: url("/static/fonts/fontello/fontello.svg") format("svg");
  }
}
/* line 22, ../scss/base/_icons.scss */
.icon:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../scss/base/_icons.scss */
.icon_type_search:before {
  content: '\e802';
}

/* '' */
/* line 54, ../scss/base/_icons.scss */
.icon_type_camera:before {
  content: '\e803';
}

/* '' */
/* line 55, ../scss/base/_icons.scss */
.icon_type_ok:before {
  content: '\e804';
}

/* '' */
/* line 56, ../scss/base/_icons.scss */
.icon_type_cancel:before {
  content: '\e805';
}

/* '' */
/* line 1, ../scss/base/_main.scss */
html {
  height: 100%;
}

/* line 1, ../scss/blocks/_page.scss */
.page {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/* line 6, ../scss/blocks/_page.scss */
.page__header {
  background-color: #21303F;
  border-bottom: 5px solid #637686;
}
/* line 10, ../scss/blocks/_page.scss */
.page__content {
  width: 960px;
  margin: 0 auto;
}

/* line 1, ../scss/blocks/_page-header.scss */
.page-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

/* line 10, ../scss/blocks/_page-header.scss */
.page-header__logo {
  font-size: 48px;
}

/* line 1, ../scss/blocks/_link.scss */
.link {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
/* line 11, ../scss/blocks/_link.scss */
.link_type_primary {
  transition: color, 0.3s ease;
  color: #0095E5;
}
/* line 15, ../scss/blocks/_link.scss */
.link_type_primary:hover {
  color: #00537f;
}

/* line 1, ../scss/blocks/_logo.scss */
.logo {
  font-family: 'Cooper Black';
}

/* line 5, ../scss/blocks/_logo.scss */
.logo__science {
  color: #E9A611;
}

/* line 9, ../scss/blocks/_logo.scss */
.logo__im {
  color: #BCBDBE;
}

/* line 1, ../scss/blocks/_appbar.scss */
.appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 6, ../scss/blocks/_appbar.scss */
.appbar__icon {
  margin-right: 30px;
  cursor: pointer;
}
/* line 10, ../scss/blocks/_appbar.scss */
.appbar__icon-add {
  width: 60px;
}
/* line 14, ../scss/blocks/_appbar.scss */
.appbar__icon-fav {
  width: 60px;
}
/* line 18, ../scss/blocks/_appbar.scss */
.appbar__icon-members {
  width: 60px;
}
/* line 22, ../scss/blocks/_appbar.scss */
.appbar__icon-scientist {
  width: 60px;
  border-radius: 50%;
}
/* line 27, ../scss/blocks/_appbar.scss */
.appbar__icon-search {
  width: 103px;
}
/* line 31, ../scss/blocks/_appbar.scss */
.appbar__icon-logout {
  width: 80px;
}
/* line 35, ../scss/blocks/_appbar.scss */
.appbar__icon-login {
  width: 25px;
}
/* line 39, ../scss/blocks/_appbar.scss */
.appbar__icon-register {
  width: 25px;
}

/* line 1, ../scss/blocks/_project.scss */
.project {
  border-bottom: 2px solid #ccc;
  padding: 10px;
  position: relative;
}

/* line 7, ../scss/blocks/_project.scss */
.project + .project {
  margin-top: 20px;
}

/* line 11, ../scss/blocks/_project.scss */
.project__header {
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', sans-serif;
}

/* line 17, ../scss/blocks/_project.scss */
.project__holder {
  background-color: #21303F;
  color: white;
  padding: 3px 8px 3px 8px;
  font-size: 16px;
}

/* line 24, ../scss/blocks/_project.scss */
.project__description {
  padding-bottom: 10px;
  line-height: 1.6;
}

/* line 29, ../scss/blocks/_project.scss */
.project__description-header {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* line 1, ../scss/blocks/_scientist-thumb.scss */
.scientist-thumb {
  width: 400px;
  box-sizing: border-box;
  margin-right: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
}
/* line 10, ../scss/blocks/_scientist-thumb.scss */
.scientist-thumb__photo-block {
  margin-right: 20px;
  flex: 0 0 100px;
}
/* line 15, ../scss/blocks/_scientist-thumb.scss */
.scientist-thumb__photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* line 2, ../scss/blocks/_modal.scss */
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(5, 5, 5, 0.81);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 14, ../scss/blocks/_modal.scss */
.modal__body {
  position: relative;
}
/* line 18, ../scss/blocks/_modal.scss */
.modal__close {
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: -16px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #7A9FC2;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  border: none;
  cursor: pointer;
}

/* line 4, ../scss/blocks/_form.scss */
.form__line {
  margin-bottom: 20px;
}
/* line 9, ../scss/blocks/_form.scss */
.form_type_signin {
  background-color: #ffffff;
  border: 5px solid #DADADA;
  border-radius: 3px;
  padding: 10px 20px 5px;
  position: relative;
  width: 400px;
}
/* line 17, ../scss/blocks/_form.scss */
.form_type_signin .heading {
  color: #00A17D;
  text-align: center;
}
/* line 22, ../scss/blocks/_form.scss */
.form_type_signin .input__field {
  padding: 20px;
}

/* line 2, ../scss/blocks/_input.scss */
.input__field {
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}
/* line 10, ../scss/blocks/_input.scss */
.input__field:focus {
  outline: none;
}
/* line 14, ../scss/blocks/_input.scss */
.input__message {
  font-size: 14px;
}
/* line 18, ../scss/blocks/_input.scss */
.input__message_type_error {
  color: red;
}

/* line 1, ../scss/blocks/_button.scss */
.button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  user-select: none;
}
/* line 9, ../scss/blocks/_button.scss */
.button:focus {
  outline: none;
}
/* line 14, ../scss/blocks/_button.scss */
.button_type_submit {
  color: #FFFFFF;
  background-color: #00A17D;
  padding: 10px 50px;
  box-shadow: 2px 2px 0 2px #95CFC0;
  margin: 0 auto;
  display: block;
}

/* line 1, ../scss/blocks/_heading.scss */
.heading {
  margin: 0;
  font-weight: bold;
}
/* line 6, ../scss/blocks/_heading.scss */
.heading_level_alpha {
  font-size: 28px;
}
/* line 10, ../scss/blocks/_heading.scss */
.heading_level_beta {
  font-size: 24px;
}
/* line 14, ../scss/blocks/_heading.scss */
.heading_level_gamma {
  font-size: 20px;
}

/* line 1, ../scss/blocks/_fieldset.scss */
.fieldset {
  padding: 20px 20px 30px;
  border: 1px solid #cccccc;
}
/* line 5, ../scss/blocks/_fieldset.scss */
.fieldset_nested {
  border: none;
}
/* line 9, ../scss/blocks/_fieldset.scss */
.fieldset__heading {
  font-size: 30px;
}

/* line 3, ../scss/blocks/_grid.scss */
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

/* line 12, ../scss/blocks/_grid.scss */
.row_reverse {
  flex-direction: row-reverse;
}

/* line 16, ../scss/blocks/_grid.scss */
.col {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 0;
  padding-left: 0;
}

/* line 26, ../scss/blocks/_grid.scss */
.col_reverse {
  flex-direction: column-reverse;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_1 {
  flex-basis: 4.16667%;
  max-width: 4.16667%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_1 {
  margin-left: 4.16667%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_2 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_2 {
  margin-left: 8.33333%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_3 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_3 {
  margin-left: 12.5%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_4 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_4 {
  margin-left: 16.66667%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_5 {
  flex-basis: 20.83333%;
  max-width: 20.83333%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_5 {
  margin-left: 20.83333%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_6 {
  flex-basis: 25%;
  max-width: 25%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_6 {
  margin-left: 25%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_7 {
  flex-basis: 29.16667%;
  max-width: 29.16667%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_7 {
  margin-left: 29.16667%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_8 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_8 {
  margin-left: 33.33333%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_9 {
  flex-basis: 37.5%;
  max-width: 37.5%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_9 {
  margin-left: 37.5%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_10 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_10 {
  margin-left: 41.66667%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_11 {
  flex-basis: 45.83333%;
  max-width: 45.83333%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_11 {
  margin-left: 45.83333%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_12 {
  flex-basis: 50%;
  max-width: 50%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_12 {
  margin-left: 50%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_13 {
  flex-basis: 54.16667%;
  max-width: 54.16667%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_13 {
  margin-left: 54.16667%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_14 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_14 {
  margin-left: 58.33333%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_15 {
  flex-basis: 62.5%;
  max-width: 62.5%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_15 {
  margin-left: 62.5%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_16 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_16 {
  margin-left: 66.66667%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_17 {
  flex-basis: 70.83333%;
  max-width: 70.83333%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_17 {
  margin-left: 70.83333%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_18 {
  flex-basis: 75%;
  max-width: 75%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_18 {
  margin-left: 75%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_19 {
  flex-basis: 79.16667%;
  max-width: 79.16667%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_19 {
  margin-left: 79.16667%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_20 {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_20 {
  margin-left: 83.33333%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_21 {
  flex-basis: 87.5%;
  max-width: 87.5%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_21 {
  margin-left: 87.5%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_22 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_22 {
  margin-left: 91.66667%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_23 {
  flex-basis: 95.83333%;
  max-width: 95.83333%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_23 {
  margin-left: 95.83333%;
}

/* line 31, ../scss/blocks/_grid.scss */
.col_size_24 {
  flex-basis: 100%;
  max-width: 100%;
}

/* line 35, ../scss/blocks/_grid.scss */
.col_offset_size_24 {
  margin-left: 100%;
}

/* line 39, ../scss/blocks/_grid.scss */
.row_align_start {
  justify-content: flex-start;
}

/* line 43, ../scss/blocks/_grid.scss */
.row_align_center {
  justify-content: center;
}

/* line 47, ../scss/blocks/_grid.scss */
.row_align_end {
  justify-content: flex-end;
}

/* line 51, ../scss/blocks/_grid.scss */
.row_align_top {
  align-items: flex-start;
}

/* line 54, ../scss/blocks/_grid.scss */
.row_align_middle {
  align-items: center;
}

/* line 57, ../scss/blocks/_grid.scss */
.row_align_bottom {
  align-items: flex-end;
}

/* line 60, ../scss/blocks/_grid.scss */
.row_align_around {
  justify-content: space-around;
}

/* line 63, ../scss/blocks/_grid.scss */
.row_align_between {
  justify-content: space-between;
}

/* line 66, ../scss/blocks/_grid.scss */
.row_order_first {
  order: -1;
}

/* line 69, ../scss/blocks/_grid.scss */
.row_order_last {
  order: 1;
}

@media screen and (min-width: 1366px) {
  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_1 {
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_1 {
    margin-left: 4.16667%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_2 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_2 {
    margin-left: 8.33333%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_3 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_3 {
    margin-left: 12.5%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_4 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_4 {
    margin-left: 16.66667%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_5 {
    flex-basis: 20.83333%;
    max-width: 20.83333%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_5 {
    margin-left: 20.83333%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_6 {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_6 {
    margin-left: 25%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_7 {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_7 {
    margin-left: 29.16667%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_8 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_8 {
    margin-left: 33.33333%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_9 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_9 {
    margin-left: 37.5%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_10 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_10 {
    margin-left: 41.66667%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_11 {
    flex-basis: 45.83333%;
    max-width: 45.83333%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_11 {
    margin-left: 45.83333%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_12 {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_12 {
    margin-left: 50%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_13 {
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_13 {
    margin-left: 54.16667%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_14 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_14 {
    margin-left: 58.33333%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_15 {
    flex-basis: 62.5%;
    max-width: 62.5%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_15 {
    margin-left: 62.5%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_16 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_16 {
    margin-left: 66.66667%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_17 {
    flex-basis: 70.83333%;
    max-width: 70.83333%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_17 {
    margin-left: 70.83333%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_18 {
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_18 {
    margin-left: 75%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_19 {
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_19 {
    margin-left: 79.16667%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_20 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_20 {
    margin-left: 83.33333%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_21 {
    flex-basis: 87.5%;
    max-width: 87.5%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_21 {
    margin-left: 87.5%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_22 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_22 {
    margin-left: 91.66667%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_23 {
    flex-basis: 95.83333%;
    max-width: 95.83333%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_23 {
    margin-left: 95.83333%;
  }

  /* line 75, ../scss/blocks/_grid.scss */
  .col_type_lg_size_24 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 79, ../scss/blocks/_grid.scss */
  .col_offset_type_lg_size_24 {
    margin-left: 100%;
  }

  /* line 83, ../scss/blocks/_grid.scss */
  .row_type_lg_align_start {
    justify-content: flex-start;
  }

  /* line 87, ../scss/blocks/_grid.scss */
  .row_type_lg_align_center {
    justify-content: center;
  }

  /* line 91, ../scss/blocks/_grid.scss */
  .row_type_lg_align_end {
    justify-content: flex-end;
  }

  /* line 95, ../scss/blocks/_grid.scss */
  .row_type_lg_align_top {
    align-items: flex-start;
  }

  /* line 98, ../scss/blocks/_grid.scss */
  .row_type_lg_align_middle {
    align-items: center;
  }

  /* line 101, ../scss/blocks/_grid.scss */
  .row_type_lg_align_bottom {
    align-items: flex-end;
  }

  /* line 104, ../scss/blocks/_grid.scss */
  .row_type_lg_align_around {
    justify-content: space-around;
  }

  /* line 107, ../scss/blocks/_grid.scss */
  .row_type_lg_align_between {
    justify-content: space-between;
  }

  /* line 110, ../scss/blocks/_grid.scss */
  .row_type_lg_order_first {
    order: -1;
  }

  /* line 113, ../scss/blocks/_grid.scss */
  .row_type_lg_order_last {
    order: 1;
  }
}
@media screen and (max-width: 1365px) and (min-width: 1024px) {
  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_1 {
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_1 {
    margin-left: 4.16667%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_2 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_2 {
    margin-left: 8.33333%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_3 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_3 {
    margin-left: 12.5%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_4 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_4 {
    margin-left: 16.66667%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_5 {
    flex-basis: 20.83333%;
    max-width: 20.83333%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_5 {
    margin-left: 20.83333%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_6 {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_6 {
    margin-left: 25%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_7 {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_7 {
    margin-left: 29.16667%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_8 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_8 {
    margin-left: 33.33333%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_9 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_9 {
    margin-left: 37.5%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_10 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_10 {
    margin-left: 41.66667%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_11 {
    flex-basis: 45.83333%;
    max-width: 45.83333%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_11 {
    margin-left: 45.83333%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_12 {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_12 {
    margin-left: 50%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_13 {
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_13 {
    margin-left: 54.16667%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_14 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_14 {
    margin-left: 58.33333%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_15 {
    flex-basis: 62.5%;
    max-width: 62.5%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_15 {
    margin-left: 62.5%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_16 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_16 {
    margin-left: 66.66667%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_17 {
    flex-basis: 70.83333%;
    max-width: 70.83333%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_17 {
    margin-left: 70.83333%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_18 {
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_18 {
    margin-left: 75%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_19 {
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_19 {
    margin-left: 79.16667%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_20 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_20 {
    margin-left: 83.33333%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_21 {
    flex-basis: 87.5%;
    max-width: 87.5%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_21 {
    margin-left: 87.5%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_22 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_22 {
    margin-left: 91.66667%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_23 {
    flex-basis: 95.83333%;
    max-width: 95.83333%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_23 {
    margin-left: 95.83333%;
  }

  /* line 120, ../scss/blocks/_grid.scss */
  .col_type_md_size_24 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 124, ../scss/blocks/_grid.scss */
  .col_offset_type_md_size_24 {
    margin-left: 100%;
  }

  /* line 128, ../scss/blocks/_grid.scss */
  .row_type_md_align_start {
    justify-content: flex-start;
  }

  /* line 132, ../scss/blocks/_grid.scss */
  .row_type_md_align_center {
    justify-content: center;
  }

  /* line 136, ../scss/blocks/_grid.scss */
  .row_type_md_align_end {
    justify-content: flex-end;
  }

  /* line 140, ../scss/blocks/_grid.scss */
  .row_type_md_align_top {
    align-items: flex-start;
  }

  /* line 143, ../scss/blocks/_grid.scss */
  .row_type_md_align_middle {
    align-items: center;
  }

  /* line 146, ../scss/blocks/_grid.scss */
  .row_type_md_align_bottom {
    align-items: flex-end;
  }

  /* line 149, ../scss/blocks/_grid.scss */
  .row_type_md_align_around {
    justify-content: space-around;
  }

  /* line 152, ../scss/blocks/_grid.scss */
  .row_type_md_align_between {
    justify-content: space-between;
  }

  /* line 155, ../scss/blocks/_grid.scss */
  .row_type_md_order_first {
    order: -1;
  }

  /* line 158, ../scss/blocks/_grid.scss */
  .row_type_md_order_last {
    order: 1;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_1 {
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_1 {
    margin-left: 4.16667%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_2 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_2 {
    margin-left: 8.33333%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_3 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_3 {
    margin-left: 12.5%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_4 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_4 {
    margin-left: 16.66667%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_5 {
    flex-basis: 20.83333%;
    max-width: 20.83333%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_5 {
    margin-left: 20.83333%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_6 {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_6 {
    margin-left: 25%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_7 {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_7 {
    margin-left: 29.16667%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_8 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_8 {
    margin-left: 33.33333%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_9 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_9 {
    margin-left: 37.5%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_10 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_10 {
    margin-left: 41.66667%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_11 {
    flex-basis: 45.83333%;
    max-width: 45.83333%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_11 {
    margin-left: 45.83333%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_12 {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_12 {
    margin-left: 50%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_13 {
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_13 {
    margin-left: 54.16667%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_14 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_14 {
    margin-left: 58.33333%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_15 {
    flex-basis: 62.5%;
    max-width: 62.5%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_15 {
    margin-left: 62.5%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_16 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_16 {
    margin-left: 66.66667%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_17 {
    flex-basis: 70.83333%;
    max-width: 70.83333%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_17 {
    margin-left: 70.83333%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_18 {
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_18 {
    margin-left: 75%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_19 {
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_19 {
    margin-left: 79.16667%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_20 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_20 {
    margin-left: 83.33333%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_21 {
    flex-basis: 87.5%;
    max-width: 87.5%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_21 {
    margin-left: 87.5%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_22 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_22 {
    margin-left: 91.66667%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_23 {
    flex-basis: 95.83333%;
    max-width: 95.83333%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_23 {
    margin-left: 95.83333%;
  }

  /* line 165, ../scss/blocks/_grid.scss */
  .col_type_sm_size_24 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 169, ../scss/blocks/_grid.scss */
  .col_offset_type_sm_size_24 {
    margin-left: 100%;
  }

  /* line 174, ../scss/blocks/_grid.scss */
  .row_type_sm_align_start {
    justify-content: flex-start;
  }

  /* line 178, ../scss/blocks/_grid.scss */
  .row_type_sm_align_center {
    justify-content: center;
  }

  /* line 182, ../scss/blocks/_grid.scss */
  .row_type_sm_align_end {
    justify-content: flex-end;
  }

  /* line 186, ../scss/blocks/_grid.scss */
  .row_type_sm_align_top {
    align-items: flex-start;
  }

  /* line 189, ../scss/blocks/_grid.scss */
  .row_type_sm_align_middle {
    align-items: center;
  }

  /* line 192, ../scss/blocks/_grid.scss */
  .row_type_sm_align_bottom {
    align-items: flex-end;
  }

  /* line 195, ../scss/blocks/_grid.scss */
  .row_type_sm_align_around {
    justify-content: space-around;
  }

  /* line 198, ../scss/blocks/_grid.scss */
  .row_type_sm_align_between {
    justify-content: space-between;
  }

  /* line 201, ../scss/blocks/_grid.scss */
  .row_type_sm_order_first {
    order: -1;
  }

  /* line 204, ../scss/blocks/_grid.scss */
  .row_type_sm_order_last {
    order: 1;
  }
}
@media screen and (max-width: 480px) {
  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_1 {
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_1 {
    margin-left: 4.16667%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_2 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_2 {
    margin-left: 8.33333%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_3 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_3 {
    margin-left: 12.5%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_4 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_4 {
    margin-left: 16.66667%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_5 {
    flex-basis: 20.83333%;
    max-width: 20.83333%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_5 {
    margin-left: 20.83333%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_6 {
    flex-basis: 25%;
    max-width: 25%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_6 {
    margin-left: 25%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_7 {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_7 {
    margin-left: 29.16667%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_8 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_8 {
    margin-left: 33.33333%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_9 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_9 {
    margin-left: 37.5%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_10 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_10 {
    margin-left: 41.66667%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_11 {
    flex-basis: 45.83333%;
    max-width: 45.83333%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_11 {
    margin-left: 45.83333%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_12 {
    flex-basis: 50%;
    max-width: 50%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_12 {
    margin-left: 50%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_13 {
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_13 {
    margin-left: 54.16667%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_14 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_14 {
    margin-left: 58.33333%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_15 {
    flex-basis: 62.5%;
    max-width: 62.5%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_15 {
    margin-left: 62.5%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_16 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_16 {
    margin-left: 66.66667%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_17 {
    flex-basis: 70.83333%;
    max-width: 70.83333%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_17 {
    margin-left: 70.83333%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_18 {
    flex-basis: 75%;
    max-width: 75%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_18 {
    margin-left: 75%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_19 {
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_19 {
    margin-left: 79.16667%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_20 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_20 {
    margin-left: 83.33333%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_21 {
    flex-basis: 87.5%;
    max-width: 87.5%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_21 {
    margin-left: 87.5%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_22 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_22 {
    margin-left: 91.66667%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_23 {
    flex-basis: 95.83333%;
    max-width: 95.83333%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_23 {
    margin-left: 95.83333%;
  }

  /* line 211, ../scss/blocks/_grid.scss */
  .col_type_xs_size_24 {
    flex-basis: 100%;
    max-width: 100%;
  }

  /* line 215, ../scss/blocks/_grid.scss */
  .col_offset_type_xs_size_24 {
    margin-left: 100%;
  }

  /* line 219, ../scss/blocks/_grid.scss */
  .row_type_xs_align_start {
    justify-content: flex-start;
  }

  /* line 223, ../scss/blocks/_grid.scss */
  .row_type_xs_align_center {
    justify-content: center;
  }

  /* line 227, ../scss/blocks/_grid.scss */
  .row_type_xs_align_end {
    justify-content: flex-end;
  }

  /* line 231, ../scss/blocks/_grid.scss */
  .row_type_xs_align_top {
    align-items: flex-start;
  }

  /* line 234, ../scss/blocks/_grid.scss */
  .row_type_xs_align_middle {
    align-items: center;
  }

  /* line 237, ../scss/blocks/_grid.scss */
  .row_type_xs_align_bottom {
    align-items: flex-end;
  }

  /* line 240, ../scss/blocks/_grid.scss */
  .row_type_xs_align_around {
    justify-content: space-around;
  }

  /* line 243, ../scss/blocks/_grid.scss */
  .row_type_xs_align_between {
    justify-content: space-between;
  }

  /* line 246, ../scss/blocks/_grid.scss */
  .row_type_xs_order_first {
    order: -1;
  }

  /* line 249, ../scss/blocks/_grid.scss */
  .row_type_xs_order_last {
    order: 1;
  }
}
/* line 1, ../scss/blocks/_icon.scss */
.icon {
  cursor: pointer;
}
/* line 5, ../scss/blocks/_icon.scss */
.icon_size_small {
  width: 20px;
  height: 20px;
}
