<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.redis.server</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/redis-server</string>
    <string>/opt/db/conf/redis_science.conf</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>/var/log/redis_science/error.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/redis_science/output.log</string>
</dict>
</plist>