/***********************
*   LOGIN DIALOG
***********************/

html /deep/ .login-dialog-input:focus {
  outline: none;
}

html /deep/ .login-dialog-input:-webkit-autofill {
  background-color: transparent;
}

html /deep/ .login-dialog-submit {
  width: 50%;
  align-self: center;
  margin-bottom: 30px;
}

html /deep/ .login-dialog footer a {
  color: #7A9FC2;
  font-size: 12px;
}

html /deep/ .login-dialog-close {
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: -16px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #7A9FC2;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}

/***********************
*   RESEARCH FIELDS DIALOG
***********************/

html /deep/ .research-fields-dialog {
  background-color: white;
  padding: 20px;
}

html /deep/ .research-fields-dialog .icon {
  width: 40px;
  height: 40px;
}

html /deep/ .research-fields-dialog .label {
  padding: 10px 20px;
}

html /deep/ .research-fields-dialog .checkbox {
  margin: 0;
}



