/***********************
*   LOGIN DIALOG
***********************/
@import '../variables';

html /deep/ .login-dialog {
  background-color: #ffffff;
  border: 5px solid #DADADA;
  border-radius: 3px;
  padding: 10px 20px 5px;
  position: relative;
  width: 400px;
}

html /deep/ .login-dialog-header {
  margin-top: 0;
  text-align: center;
  color: $color-green;
}

html /deep/ .login-dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html /deep/ .login-dialog-input {
  font-size: 16px;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #cccccc;
}

html /deep/ .login-dialog-input:focus {
  outline: none;
}

html /deep/ .login-dialog-input:-webkit-autofill {
  background-color: transparent;
}

html /deep/ .login-dialog-submit {
  width: 50%;
  align-self: center;
  margin-bottom: 30px;
}

html /deep/ .login-dialog footer a {
  color: #7A9FC2;
  font-size: 12px;
}

html /deep/ .login-dialog-close {
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: -16px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #7A9FC2;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}