<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/xicon" href="{{ 'favicon.ico'|static_url(value) }}">
    <link href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        {% block css %}
            {% block base_css %}{% include 'inc_base_styles.html' %}{% endblock %}
            {% block base_css_ex %}{% endblock %}
            {% block page_css %}{% endblock %}
        {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Science</title>
</head>
{% block base_body %}
    <body>
        <div style="border-bottom: 5px solid #bbb8be; position: absolute; width: 100%; margin-top: 100px"></div>
        <section id="base_container">
            {% block header %}
                <header class="main_header inline">
                    <h1 class="main_logo"><a href="#"></a></h1>
                    <span style="padding-top: 40px; padding-right: 300px; float: right; position: relative; width: auto; clear: right">Найти проект</span>
{#                    <div >#}
                        <span class="main_search"></span>
{#                    </div>#}
                </header>
            {% endblock %}
            {% block base_body_content %}
            {% endblock %}
            {% block right_menu %}
                <div class="right-menu">
                    <div class="inline menu_text_container" style="padding: 20px 0 0 10px;">
                        <span class="menu-text" id="login" style="border-bottom: 5px solid #bbb8be; cursor: pointer;">Войти<img style="float: right; padding-top: 5px;" src='{{"images/common/login_icon.png"|static_url(value) }}'/></span>
                        <form id="enter" class="enter hidden">
                            <span style="width: 215px" class="margin_bottom_10"><input id="login_email" class="main_input" type="text" placeholder="Email"></span>
                            <span style="width: 215px" class="margin_bottom_10"><input id="login_password" class="main_input" type="password" placeholder="Пароль"></span>
                            <span id="submit_login" style="margin-left: 28%" class="little_green_button">Это я!</span>
                        </form>
                        <span class="menu-text blue-hover"><a href="/scientists/add/">Зарегистрироваться</a><img style="float: right; padding-top: 5px;" src='{{"images/common/register_icon.png"|static_url(value) }}'/></span>
                        <span class="menu-text red-hover"><a href="/scientists/list/">Участники проекта</a><img style="float: right; padding-top: 5px;" src='{{"images/common/register_icon.png"|static_url(value) }}'/></span>
                        <span class="menu-text red-hover"><a href="/scientists/profile/">Профиль участника</a><img style="float: right; padding-top: 5px;" src='{{"images/common/register_icon.png"|static_url(value) }}'/></span>
                        <span class="menu-text orange-hover"><a href="/scientists/profile/edit/">Редактировать профиль</a><img style="float: right; padding-top: 5px;" src='{{"images/common/register_icon.png"|static_url(value) }}'/></span>
                    </div>

                </div>
            {% endblock %}
        </section>
        {% block footer %}
            <div style="border-top: 3px solid #373b44; opacity: 0.6; position: fixed; width: 100%; bottom: 0; padding-bottom: 50px"></div>
            <footer style="width: 100%; background: #373b44; height: 50px; bottom: 0; position: fixed; z-index: 10; clear: both; ">
                <span style="position: relative; margin-top: 15px; color: white; opacity: 0.6; font-size: 12px; margin-left: 20%; font-family: 'Roboto Slab', serif; font-weight: bold"><strong>© TwoAstroHobbits, 2014</strong></span>
                <span style="width: 400px; position: relative; margin-top: 13px; margin-left: 12%; color: white; opacity: 0.8; font-size: 14px; font-family: 'Roboto Slab', serif; font-weight: bold"><strong>{ О проекте | О создателях}</strong></span>
            </footer>
        {% endblock %}
    </body>
{% endblock %}
{% block js %}
    {% block common_js %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script>
            function getCookie(name) {
                var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                console.log(r);
                return r ? r[1] : undefined;
            }

            function get_data(form_id) {
                var data = {};
                $("form#"+form_id+" input").each(function(){
                    var input = $(this);
                    data[input.attr('id')] = input.val();
                });
                return data;
            }

            $("#login").on('click', function(){
                if ( $("#enter").hasClass("hidden")) {
                    $("#enter").removeClass("hidden")
                } else {
                    $("#enter").addClass("hidden")
                }
            });

            $("#submit_login").on('click', function(){
                var name = getCookie('_xsrf');
                var form = "enter";
                var log_pass = get_data(form);
                $.ajax({
                  type: "POST",
                  url: "/ajax/scientists/login/",
                  dataType: 'json',
                  data: {
                    _xsrf: name,
                    scientist: JSON.stringify(log_pass)
                  },
                  success: function(response) {
                    console.log(response);
                  }
                });
            })
        </script>
    {% endblock %}
    {% block page_js %}

    {% endblock %}
{% endblock %}
</html>