html /deep/ .grid {
	padding-right: 0;
	padding-left: 0;
}
html /deep/ .row {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: 0;
	margin-left: 0;
}
html /deep/ .row.reverse {
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
}
html /deep/ .col.reverse {
	flex-direction: column-reverse;
	flex-wrap: wrap-reverse;
}
html /deep/ .col-base,
html /deep/ .col-1,
html /deep/ .col-offset-1,
html /deep/ .col-2,
html /deep/ .col-offset-2,
html /deep/ .col-3,
html /deep/ .col-offset-3,
html /deep/ .col-4,
html /deep/ .col-offset-4,
html /deep/ .col-5,
html /deep/ .col-offset-5,
html /deep/ .col-6,
html /deep/ .col-offset-6,
html /deep/ .col-7,
html /deep/ .col-offset-7,
html /deep/ .col-8,
html /deep/ .col-offset-8,
html /deep/ .col-9,
html /deep/ .col-offset-9,
html /deep/ .col-10,
html /deep/ .col-offset-10,
html /deep/ .col-11,
html /deep/ .col-offset-11,
html /deep/ .col-12,
html /deep/ .col-offset-12,
html /deep/ .col,
html /deep/ .col-xs-1,
html /deep/ .col-xs-offset-1,
html /deep/ .col-xs-2,
html /deep/ .col-xs-offset-2,
html /deep/ .col-xs-3,
html /deep/ .col-xs-offset-3,
html /deep/ .col-xs-4,
html /deep/ .col-xs-offset-4,
html /deep/ .col-xs-5,
html /deep/ .col-xs-offset-5,
html /deep/ .col-xs-6,
html /deep/ .col-xs-offset-6,
html /deep/ .col-xs-7,
html /deep/ .col-xs-offset-7,
html /deep/ .col-xs-8,
html /deep/ .col-xs-offset-8,
html /deep/ .col-xs-9,
html /deep/ .col-xs-offset-9,
html /deep/ .col-xs-10,
html /deep/ .col-xs-offset-10,
html /deep/ .col-xs-11,
html /deep/ .col-xs-offset-11,
html /deep/ .col-xs-12,
html /deep/ .col-xs-offset-12,
html /deep/ .col-xs,
html /deep/ .col-sm-1,
html /deep/ .col-sm-offset-1,
html /deep/ .col-sm-2,
html /deep/ .col-sm-offset-2,
html /deep/ .col-sm-3,
html /deep/ .col-sm-offset-3,
html /deep/ .col-sm-4,
html /deep/ .col-sm-offset-4,
html /deep/ .col-sm-5,
html /deep/ .col-sm-offset-5,
html /deep/ .col-sm-6,
html /deep/ .col-sm-offset-6,
html /deep/ .col-sm-7,
html /deep/ .col-sm-offset-7,
html /deep/ .col-sm-8,
html /deep/ .col-sm-offset-8,
html /deep/ .col-sm-9,
html /deep/ .col-sm-offset-9,
html /deep/ .col-sm-10,
html /deep/ .col-sm-offset-10,
html /deep/ .col-sm-11,
html /deep/ .col-sm-offset-11,
html /deep/ .col-sm-12,
html /deep/ .col-sm-offset-12,
html /deep/ .col-sm,
html /deep/ .col-md-1,
html /deep/ .col-md-offset-1,
html /deep/ .col-md-2,
html /deep/ .col-md-offset-2,
html /deep/ .col-md-3,
html /deep/ .col-md-offset-3,
html /deep/ .col-md-4,
html /deep/ .col-md-offset-4,
html /deep/ .col-md-5,
html /deep/ .col-md-offset-5,
html /deep/ .col-md-6,
html /deep/ .col-md-offset-6,
html /deep/ .col-md-7,
html /deep/ .col-md-offset-7,
html /deep/ .col-md-8,
html /deep/ .col-md-offset-8,
html /deep/ .col-md-9,
html /deep/ .col-md-offset-9,
html /deep/ .col-md-10,
html /deep/ .col-md-offset-10,
html /deep/ .col-md-11,
html /deep/ .col-md-offset-11,
html /deep/ .col-md-12,
html /deep/ .col-md-offset-12,
html /deep/ .col-md,
html /deep/ .col-lg-1,
html /deep/ .col-lg-offset-1,
html /deep/ .col-lg-2,
html /deep/ .col-lg-offset-2,
html /deep/ .col-lg-3,
html /deep/ .col-lg-offset-3,
html /deep/ .col-lg-4,
html /deep/ .col-lg-offset-4,
html /deep/ .col-lg-5,
html /deep/ .col-lg-offset-5,
html /deep/ .col-lg-6,
html /deep/ .col-lg-offset-6,
html /deep/ .col-lg-7,
html /deep/ .col-lg-offset-7,
html /deep/ .col-lg-8,
html /deep/ .col-lg-offset-8,
html /deep/ .col-lg-9,
html /deep/ .col-lg-offset-9,
html /deep/ .col-lg-10,
html /deep/ .col-lg-offset-10,
html /deep/ .col-lg-11,
html /deep/ .col-lg-offset-11,
html /deep/ .col-lg-12,
html /deep/ .col-lg-offset-12,
html /deep/ .col-lg {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	padding-right: 0;
	padding-left: 0;
}
html /deep/ .col {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
}
html /deep/ .col-1 {
	flex-basis: 8.333333333333334%;
	max-width: 8.333333333333334%;
}
html /deep/ .col-2 {
	flex-basis: 16.666666666666668%;
	max-width: 16.666666666666668%;
}
html /deep/ .col-3 {
	flex-basis: 25%;
	max-width: 25%;
}
html /deep/ .col-4 {
	flex-basis: 33.333333333333336%;
	max-width: 33.333333333333336%;
}
html /deep/ .col-5 {
	flex-basis: 41.66666666666667%;
	max-width: 41.66666666666667%;
}
html /deep/ .col-6 {
	flex-basis: 50%;
	max-width: 50%;
}
html /deep/ .col-7 {
	flex-basis: 58.333333333333336%;
	max-width: 58.333333333333336%;
}
html /deep/ .col-8 {
	flex-basis: 66.66666666666667%;
	max-width: 66.66666666666667%;
}
html /deep/ .col-9 {
	flex-basis: 75%;
	max-width: 75%;
}
html /deep/ .col-10 {
	flex-basis: 83.33333333333334%;
	max-width: 83.33333333333334%;
}
html /deep/ .col-11 {
	flex-basis: 91.66666666666667%;
	max-width: 91.66666666666667%;
}
html /deep/ .col-12 {
	flex-basis: 100%;
	max-width: 100%;
}
html /deep/ .col-offset-1 {
	margin-left: 8.333333333333334%;
}
html /deep/ .col-offset-2 {
	margin-left: 16.666666666666668%;
}
html /deep/ .col-offset-3 {
	margin-left: 25%;
}
html /deep/ .col-offset-4 {
	margin-left: 33.333333333333336%;
}
html /deep/ .col-offset-5 {
	margin-left: 41.66666666666667%;
}
html /deep/ .col-offset-6 {
	margin-left: 50%;
}
html /deep/ .col-offset-7 {
	margin-left: 58.333333333333336%;
}
html /deep/ .col-offset-8 {
	margin-left: 66.66666666666667%;
}
html /deep/ .col-offset-9 {
	margin-left: 75%;
}
html /deep/ .col-offset-10 {
	margin-left: 83.33333333333334%;
}
html /deep/ .col-offset-11 {
	margin-left: 91.66666666666667%;
}
html /deep/ .start {
	justify-content: flex-start;
	text-align: start;
}
html /deep/ .center {
	justify-content: center;
	text-align: center;
}
html /deep/ .end {
	justify-content: flex-end;
	text-align: end;
}
html /deep/ .top {
	align-items: flex-start;
}
html /deep/ .middle {
	align-items: center;
}
html /deep/ .bottom {
	align-items: flex-end;
}
html /deep/ .around {
	justify-content: space-around;
}
html /deep/ .between {
	justify-content: space-between;
}
html /deep/ .first {
	order: -1;
}
html /deep/ .last {
	order: 1;
}
@media only screen and (min-width: 34em) {
	html /deep/ .col-xs {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}
	html /deep/ .col-xs-1 {
		flex-basis: 8.333333333333334%;
		max-width: 8.333333333333334%;
	}
	html /deep/ .col-xs-2 {
		flex-basis: 16.666666666666668%;
		max-width: 16.666666666666668%;
	}
	html /deep/ .col-xs-3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	html /deep/ .col-xs-4 {
		flex-basis: 33.333333333333336%;
		max-width: 33.333333333333336%;
	}
	html /deep/ .col-xs-5 {
		flex-basis: 41.66666666666667%;
		max-width: 41.66666666666667%;
	}
	html /deep/ .col-xs-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	html /deep/ .col-xs-7 {
		flex-basis: 58.333333333333336%;
		max-width: 58.333333333333336%;
	}
	html /deep/ .col-xs-8 {
		flex-basis: 66.66666666666667%;
		max-width: 66.66666666666667%;
	}
	html /deep/ .col-xs-9 {
		flex-basis: 75%;
		max-width: 75%;
	}
	html /deep/ .col-xs-10 {
		flex-basis: 83.33333333333334%;
		max-width: 83.33333333333334%;
	}
	html /deep/ .col-xs-11 {
		flex-basis: 91.66666666666667%;
		max-width: 91.66666666666667%;
	}
	html /deep/ .col-xs-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
	html /deep/ .col-xs-offset-1 {
		margin-left: 8.333333333333334%;
	}
	html /deep/ .col-xs-offset-2 {
		margin-left: 16.666666666666668%;
	}
	html /deep/ .col-xs-offset-3 {
		margin-left: 25%;
	}
	html /deep/ .col-xs-offset-4 {
		margin-left: 33.333333333333336%;
	}
	html /deep/ .col-xs-offset-5 {
		margin-left: 41.66666666666667%;
	}
	html /deep/ .col-xs-offset-6 {
		margin-left: 50%;
	}
	html /deep/ .col-xs-offset-7 {
		margin-left: 58.333333333333336%;
	}
	html /deep/ .col-xs-offset-8 {
		margin-left: 66.66666666666667%;
	}
	html /deep/ .col-xs-offset-9 {
		margin-left: 75%;
	}
	html /deep/ .col-xs-offset-10 {
		margin-left: 83.33333333333334%;
	}
	html /deep/ .col-xs-offset-11 {
		margin-left: 91.66666666666667%;
	}
	html /deep/ .start-xs {
		justify-content: flex-start;
		text-align: start;
	}
	html /deep/ .center-xs {
		justify-content: center;
		text-align: center;
	}
	html /deep/ .end-xs {
		justify-content: flex-end;
		text-align: end;
	}
	html /deep/ .top-xs {
		align-items: flex-start;
	}
	html /deep/ .middle-xs {
		align-items: center;
	}
	html /deep/ .bottom-xs {
		align-items: flex-end;
	}
	html /deep/ .around-xs {
		justify-content: space-around;
	}
	html /deep/ .between-xs {
		justify-content: space-between;
	}
	html /deep/ .first-xs {
		order: -1;
	}
	html /deep/ .last-xs {
		order: 1;
	}
}
@media only screen and (min-width: 1024px) {
	html /deep/ .col-sm {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}
	html /deep/ .col-sm-1 {
		flex-basis: 8.333333333333334%;
		max-width: 8.333333333333334%;
	}
	html /deep/ .col-sm-2 {
		flex-basis: 16.666666666666668%;
		max-width: 16.666666666666668%;
	}
	html /deep/ .col-sm-3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	html /deep/ .col-sm-4 {
		flex-basis: 33.333333333333336%;
		max-width: 33.333333333333336%;
	}
	html /deep/ .col-sm-5 {
		flex-basis: 41.66666666666667%;
		max-width: 41.66666666666667%;
	}
	html /deep/ .col-sm-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	html /deep/ .col-sm-7 {
		flex-basis: 58.333333333333336%;
		max-width: 58.333333333333336%;
	}
	html /deep/ .col-sm-8 {
		flex-basis: 66.66666666666667%;
		max-width: 66.66666666666667%;
	}
	html /deep/ .col-sm-9 {
		flex-basis: 75%;
		max-width: 75%;
	}
	html /deep/ .col-sm-10 {
		flex-basis: 83.33333333333334%;
		max-width: 83.33333333333334%;
	}
	html /deep/ .col-sm-11 {
		flex-basis: 91.66666666666667%;
		max-width: 91.66666666666667%;
	}
	html /deep/ .col-sm-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
	html /deep/ .col-sm-offset-1 {
		margin-left: 8.333333333333334%;
	}
	html /deep/ .col-sm-offset-2 {
		margin-left: 16.666666666666668%;
	}
	html /deep/ .col-sm-offset-3 {
		margin-left: 25%;
	}
	html /deep/ .col-sm-offset-4 {
		margin-left: 33.333333333333336%;
	}
	html /deep/ .col-sm-offset-5 {
		margin-left: 41.66666666666667%;
	}
	html /deep/ .col-sm-offset-6 {
		margin-left: 50%;
	}
	html /deep/ .col-sm-offset-7 {
		margin-left: 58.333333333333336%;
	}
	html /deep/ .col-sm-offset-8 {
		margin-left: 66.66666666666667%;
	}
	html /deep/ .col-sm-offset-9 {
		margin-left: 75%;
	}
	html /deep/ .col-sm-offset-10 {
		margin-left: 83.33333333333334%;
	}
	html /deep/ .col-sm-offset-11 {
		margin-left: 91.66666666666667%;
	}
	html /deep/ .start-sm {
		justify-content: flex-start;
		text-align: start;
	}
	html /deep/ .center-sm {
		justify-content: center;
		text-align: center;
	}
	html /deep/ .end-sm {
		justify-content: flex-end;
		text-align: end;
	}
	html /deep/ .top-sm {
		align-items: flex-start;
	}
	html /deep/ .middle-sm {
		align-items: center;
	}
	html /deep/ .bottom-sm {
		align-items: flex-end;
	}
	html /deep/ .around-sm {
		justify-content: space-around;
	}
	html /deep/ .between-sm {
		justify-content: space-between;
	}
	html /deep/ .first-sm {
		order: -1;
	}
	html /deep/ .last-sm {
		order: 1;
	}
}
@media only screen and (max-width: 1366px) and (min-width: 1025px) {
	html /deep/ .col-md {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}
	html /deep/ .col-md-1 {
		flex-basis: 8.333333333333334%;
		max-width: 8.333333333333334%;
	}
	html /deep/ .col-md-2 {
		flex-basis: 16.666666666666668%;
		max-width: 16.666666666666668%;
	}
	html /deep/ .col-md-3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	html /deep/ .col-md-4 {
		flex-basis: 33.333333333333336%;
		max-width: 33.333333333333336%;
	}
	html /deep/ .col-md-5 {
		flex-basis: 41.66666666666667%;
		max-width: 41.66666666666667%;
	}
	html /deep/ .col-md-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	html /deep/ .col-md-7 {
		flex-basis: 58.333333333333336%;
		max-width: 58.333333333333336%;
	}
	html /deep/ .col-md-8 {
		flex-basis: 66.66666666666667%;
		max-width: 66.66666666666667%;
	}
	html /deep/ .col-md-9 {
		flex-basis: 75%;
		max-width: 75%;
	}
	html /deep/ .col-md-10 {
		flex-basis: 83.33333333333334%;
		max-width: 83.33333333333334%;
	}
	html /deep/ .col-md-11 {
		flex-basis: 91.66666666666667%;
		max-width: 91.66666666666667%;
	}
	html /deep/ .col-md-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
	html /deep/ .col-md-offset-1 {
		margin-left: 8.333333333333334%;
	}
	html /deep/ .col-md-offset-2 {
		margin-left: 16.666666666666668%;
	}
	html /deep/ .col-md-offset-3 {
		margin-left: 25%;
	}
	html /deep/ .col-md-offset-4 {
		margin-left: 33.333333333333336%;
	}
	html /deep/ .col-md-offset-5 {
		margin-left: 41.66666666666667%;
	}
	html /deep/ .col-md-offset-6 {
		margin-left: 50%;
	}
	html /deep/ .col-md-offset-7 {
		margin-left: 58.333333333333336%;
	}
	html /deep/ .col-md-offset-8 {
		margin-left: 66.66666666666667%;
	}
	html /deep/ .col-md-offset-9 {
		margin-left: 75%;
	}
	html /deep/ .col-md-offset-10 {
		margin-left: 83.33333333333334%;
	}
	html /deep/ .col-md-offset-11 {
		margin-left: 91.66666666666667%;
	}
	html /deep/ .start-md {
		justify-content: flex-start;
		text-align: start;
	}
	html /deep/ .center-md {
		justify-content: center;
		text-align: center;
	}
	html /deep/ .end-md {
		justify-content: flex-end;
		text-align: end;
	}
	html /deep/ .top-md {
		align-items: flex-start;
	}
	html /deep/ .middle-md {
		align-items: center;
	}
	html /deep/ .bottom-md {
		align-items: flex-end;
	}
	html /deep/ .around-md {
		justify-content: space-around;
	}
	html /deep/ .between-md {
		justify-content: space-between;
	}
	html /deep/ .first-md {
		order: -1;
	}
	html /deep/ .last-md {
		order: 1;
	}
}
@media only screen and (min-width: 1367px) {
	html /deep/ .col-lg {
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}
	html /deep/ .col-lg-1 {
		flex-basis: 8.333333333333334%;
		max-width: 8.333333333333334%;
	}
	html /deep/ .col-lg-2 {
		flex-basis: 16.666666666666668%;
		max-width: 16.666666666666668%;
	}
	html /deep/ .col-lg-3 {
		flex-basis: 25%;
		max-width: 25%;
	}
	html /deep/ .col-lg-4 {
		flex-basis: 33.333333333333336%;
		max-width: 33.333333333333336%;
	}
	html /deep/ .col-lg-5 {
		flex-basis: 41.66666666666667%;
		max-width: 41.66666666666667%;
	}
	html /deep/ .col-lg-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	html /deep/ .col-lg-7 {
		flex-basis: 58.333333333333336%;
		max-width: 58.333333333333336%;
	}
	html /deep/ .col-lg-8 {
		flex-basis: 66.66666666666667%;
		max-width: 66.66666666666667%;
	}
	html /deep/ .col-lg-9 {
		flex-basis: 75%;
		max-width: 75%;
	}
	html /deep/ .col-lg-10 {
		flex-basis: 83.33333333333334%;
		max-width: 83.33333333333334%;
	}
	html /deep/ .col-lg-11 {
		flex-basis: 91.66666666666667%;
		max-width: 91.66666666666667%;
	}
	html /deep/ .col-lg-12 {
		flex-basis: 100%;
		max-width: 100%;
	}
	html /deep/ .col-lg-offset-1 {
		margin-left: 8.333333333333334%;
	}
	html /deep/ .col-lg-offset-2 {
		margin-left: 16.666666666666668%;
	}
	html /deep/ .col-lg-offset-3 {
		margin-left: 25%;
	}
	html /deep/ .col-lg-offset-4 {
		margin-left: 33.333333333333336%;
	}
	html /deep/ .col-lg-offset-5 {
		margin-left: 41.66666666666667%;
	}
	html /deep/ .col-lg-offset-6 {
		margin-left: 50%;
	}
	html /deep/ .col-lg-offset-7 {
		margin-left: 58.333333333333336%;
	}
	html /deep/ .col-lg-offset-8 {
		margin-left: 66.66666666666667%;
	}
	html /deep/ .col-lg-offset-9 {
		margin-left: 75%;
	}
	html /deep/ .col-lg-offset-10 {
		margin-left: 83.33333333333334%;
	}
	html /deep/ .col-lg-offset-11 {
		margin-left: 91.66666666666667%;
	}
	html /deep/ .start-lg {
		justify-content: flex-start;
		text-align: start;
	}
	html /deep/ .center-lg {
		justify-content: center;
		text-align: center;
	}
	html /deep/ .end-lg {
		justify-content: flex-end;
		text-align: end;
	}
	html /deep/ .top-lg {
		align-items: flex-start;
	}
	html /deep/ .middle-lg {
		align-items: center;
	}
	html /deep/ .bottom-lg {
		align-items: flex-end;
	}
	html /deep/ .around-lg {
		justify-content: space-around;
	}
	html /deep/ .between-lg {
		justify-content: space-between;
	}
	html /deep/ .first-lg {
		order: -1;
	}
	html /deep/ .last-lg {
		order: 1;
	}
}