/*
    CURSORS
*/

html /deep/ .action {
  cursor: pointer;
}

/*
    COLORS
*/

html /deep/ .color-grey {
  color: #606972;
}

html /deep/ .color-deep-blue {
  color: #21303F;
}

html /deep/ .color-yellow {
  color: #E9A611;
}

html /deep/ .color-white {
  color: #FFFFFF;
}