/*
    CURSORS
*/

.action {
  cursor: pointer;
}

/*
    COLORS
*/

.color-grey {
  color: #606972;
}

.color-deep-blue {
  color: #21303F;
}

.color-yellow {
  color: #E9A611;
}

.color-white {
  color: #FFFFFF;
}