@import 'helpers';

.content {
  padding: 30px;
  width: 960px;;
  margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

.page-header-wrapper {
  background-color: #21303F;
  border-bottom: 5px solid #637686;
}

.page-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  background-color: #21303F;
  border-bottom: 5px solid #637686;
  align-items: center;
  justify-content: space-between;
}

.page-header-logo {
  color: #E9A611;
  font-size: 48px;
}

.page-header-controls {
  color: white;
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.page-header-search {
  font-size: 24px;
}


