@import 'normalize';
@import 'reset';
@import 'layout';
@import 'helpers';
@import 'flexboxgrid';
@import 'icons';
@import 'projects';


.page-header-wrapper {
    background-color: #21303F;
    border-bottom: 5px solid #637686;    
}

.page-header {
    height: 100px;
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.page-header-logo {
    color: #E9A611;
    font-size: 48px;
}

.page-header-logo span {
    color: #606972;
}

.page-header-controls {
    color: white;    
	display: flex;
	justify-content: space-around;
	width: 250px;
}

.page-header-search {
	font-size: 24px;
	
}









