html /deep/ [type="text"],
html /deep/ [type="url"],
html /deep/ [type="email"],
html /deep/ [type="date"],
html /deep/ [type="number"],
html /deep/ [type="password"],
html /deep/ [type="tel"],
html /deep/ textarea {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
}

html /deep/ input-tags {
  border: none;
  border-bottom: 1px solid #ccc;
}

html /deep/ [type="text"],
html /deep/ [type="url"],
html /deep/ [type="email"],
html /deep/ [type="date"],
html /deep/ [type="number"],
html /deep/ [type="password"],
html /deep/ [type="tel"],
html /deep/ textarea  {
  outline: none;
}


