<div style="position: relative; width: 100%;">
    <span class="profile_common_info">Название</span>
    {{ '{{ textarea id="title" class="project-textarea" type="text" value=title }}' }}
</div>

{#<div style="position: relative; width: 100%; margin-top: 20px">#}
{#    <span class="profile_common_info">Универ</span>#}
{#    {{ '{{ input id="univercity" class="main_input" type="text" value=univercity }}' }}#}
{#</div>#}

{# <div class="line margin_left w700">#}
{#    <span class="line_body_left font_grey">Факультет</span>#}
{#    <span class="line_body_right">#}
{#        {{ '{{ input id="faculty" class="main_input" type="text" value=faculty }}' }}#}
{#    </span>#}
{#</div>#}
{##}
{#<div class="line margin_left w700">#}
{#    <span class="line_body_left font_grey">Кафедра</span>#}
{#    <span class="line_body_right">#}
{#        {{ '{{ input id="chair" class="main_input" type="text" value=chair }}' }}#}
{#    </span>#}
{#</div>#}

<div style="position: relative; width: 100%; margin-top: 20px">
    <span class="profile_common_info">Описание</span>
    {{ '{{ textarea id="description" class="project-textarea" type="text" value=description }}' }}
</div>

<div style="position: relative; width: 100%; margin-top: 20px">
    <span class="profile_common_info">Команда</span>
    {{ '{{ textarea id="team" class="project-textarea" type="text" value=team }}' }}
</div>

<span {{ '{{action "save"}}' }} id="submit_project" style="margin-left: 40%; margin-bottom: 100px" class="main_button">But * is true</span>

