div.appBar
	if user.id
		a.js-link(href='/scientists')
			img(src='/static/images/members.svg', alt='')
		div#signIn
			img.loginIcon(src='/static/images/login.svg', alt='')
		a.js-link(href='/signup')
			img.registerIcon(src='/static/images/register.svg', alt='')
		a.js-link(href='/search')
			img.searchIcon(src='/static/images/search.svg', alt='')
	else
		a.js-link(href='/project')
			img.addProjectIcon(src='/static/images/add_project.svg', alt='')
		a.js-link(href='/scientist/my-projects')
			img.favoriteProjectsIcon(src='/static/images/favorite.svg', alt='')
		a.js-link(href='/scientists')
			img.membersIcon(src='/static/images/members.svg', alt='')
		a.js-link(href='/scientist/')
			img.profileIcon(alt='')
		a.js-link(href='/search')
			img.searchIcon(src='/static/images/search.svg', alt='')
		div#signOut
			img.logoutIcon(src='/static/images/logout.svg', alt='')