<div class="high_education margin_left">
    <h4 class="font_grey margin_bottom_10">Высшее образование</h4>
    <div class="education_block_left">
        <span style="width: 300px;"><input class="main_input" id="high_education_country" type="text" placeholder="-- Страна --"></span>
        <span style="width: 300px; margin-left: 25px"><input class="main_input" id="high_education_city" type="text" placeholder="-- Город --"></span>
        <span style="width: 300px; margin-top: 20px"><input class="main_input" id="high_education_school" type="text" placeholder="-- Учебное заведение --"></span>
        <span style="width: 300px; margin-left: 25px; margin-top: 20px"><input class="main_input" id="high_education_status" type="text" placeholder="-- Степень --"></span>
    </div>
    <div class="education_block_right">
        <input id="student" type="checkbox"><label class="font_grey" style="font-size: 14px; width: auto;">Учусь в настоящий момент</label>
        <span class="manage_form add_30" id="add_form"></span>
        <span class="manage_form remove_30 margin_left" id="remove_form"></span>
    </div>
</div>