div.form.form_type_signin
	div.heading.heading_level_beta Log in
	form(action='/api/login/')
		div.form__section
			div.input.js-email
				input.input__field(type="email", autofocus)
				div.input__message-container(data-hook="message-container")
					div.input__message-text Поле обязательно для заполнения
		div.form__section
			div.input.js-password
				input.input__field(type="password")
				div.input__message-container(data-hook="message-container")
					div.input__message-text Поле обязательно для заполнения
		div.form__section
			button.button.button_type_submit(type="submit") Войти
	div
		a.link.link_type_primary.js-link(href='/password_recover') Восстановить пароль
		a.link.link_type_primary.js-link(href="/signup") Зарегистрироваться
