<div class="middle_education margin_left margin_bottom_10" id="middle_education">
    <h4 class="font_grey margin_bottom_10">Среднее образование</h4>
    <div class="middle_education_fields">
        <div class="education_block_left">
            <span style="width: 300px;"><input class="main_input" id="middle_education_country" type="text" placeholder="-- Страна --"></span>
            <span style="width: 300px; margin-left: 25px"><input class="main_input" id="middle_education_city" type="text" placeholder="-- Город --"></span>
            <span style="width: 625px; margin-top: 20px"><input class="main_input" id="middle_education_title" type="text" placeholder="-- Учебное заведение --"></span>
        </div>
        <div class="education_block_right">
            <span style="margin-right: 25px; width: 225px;"><input id="middle_education_year" type="text" class="main_input" placeholder="-- Год окончания --"></span>
            <span {{ '{{action "add" target="view"}}' }} class="manage_form add_30" id="add_form_0"></span>
            <span class="manage_form remove_30 margin_left" id="remove_form_0"></span>
        </div>
    </div>
</div>