<ul id='projects' style='list-style-type:none;'>
    {{ '{{#each}}' }}
        <li>
            <div class="project-box">
                <span class="font_slab_32 project-title">{{ '{{title}}' }}</span>
                <div class="project-field-box">
                    <span class="font_slab_16">Цели проекта: </span>
                    <span style="clear:left;">{{ '{{objective}}' }}</span>
                </div>
                <div class="project-field-box">
                    <span class="font_slab_16">Описание: </span>
                    <span style="clear:left;">{{ '{{description}}' }}</span>
                </div>
                <div class="project-field-box">
                    <span class="font_slab_16">Результаты: </span>
                    <span style="clear:left;">{{ '{{results}}' }}</span>
                </div>
                <div style="clear: both; position: relative; width: 100%">
                    <div {{ '{{action "expand"}}' }} class="expand"></div>
                    <div {{ '{{action "participate"}}' }} class="participate"></div>
                </div>
            </div>
        </li>
    {{ '{{/each}}' }}
</ul>