div
	each project in data
		article.project
			header.project-header
				h1
					a(href='/project/' + project.id)
						= project.title
				div
					div
						each university_connection in project
							span.project-holder
								= university_connection.university
			p
				span.short-descr Краткое описание: #{project.description_short}
			div
				div
					each field in project.research_fields
						span.science-field-item.row-flex.middle
							img.icon(src='/static/images/#{field.id}.svg')
				.row-flex.middle
					div(style='margin-right: 10px; font-size: 26px; color: #808080')

